doctype html
html(lang="ru")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		// SEO
		title Hello world
		meta(name="description", content="описание не длиннее 155 символов")
		meta(name="Keywords", content="")

		// Facebook
		meta(property="og:title", content="Заголовок")
		meta(property="og:type", content="website")
		meta(property="og:image", content="http://localhost/img/og_cover.jpg")
		meta(property="og:description", content="описание не длиннее 155 символов")

		//- Twitter
			meta(name="twitter:card", content="summary_large_image")
			meta(name="twitter:site", content="@ник_компании_в_твиттере")
			meta(name="twitter:creator", content="@ник_в_твиттере")
		//

		//- Перепроверить всё, что ниже
		//- Перепроверить всё, что ниже
		//- Перепроверить всё, что ниже

		// G+ / Pinterest
		meta(itemprop='name', content='Заголовок')
		meta(itemprop='description', content='описание не длиннее 155 символов')
		meta(itemprop='image', content='http://localhost.my/img/g_cover.jpg')

		// Google authorship
		link(rel='author', href='https://plus.google.com/[Google+_Profile]/posts')
		link(rel='publisher', href='https://plus.google.com/[Google+_Page_Profile]')

		// фавиконы и иконки сайта
		// For new browsers - multisize ico
		link(rel='icon', type='image/x-icon', sizes='16x16 32x32', href='favicon.ico')

		// For iPad with high-resolution Retina display running iOS ≥ 7:
		link(rel='apple-touch-icon-precomposed', sizes='152x152', href='favicon-152.png')

		// For iPad with high-resolution Retina display running iOS ≤ 6:
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicon-144.png')

		// For iPhone with high-resolution Retina display running iOS ≥ 7:
		link(rel='apple-touch-icon-precomposed', sizes='120x120', href='favicon-120.png')

		// For iPhone with high-resolution Retina display running iOS ≤ 6:
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='favicon-114.png')

		// For iPhone 6+
		link(rel='apple-touch-icon-precomposed', sizes='180x180', href='favicon-180.png')

		// For first- and second-generation iPad:
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicon-72.png')

		// For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
		link(rel='apple-touch-icon-precomposed', href='favicon-57.png')

		// For Old Chrome
		link(rel='icon', href='favicon-32.png', sizes='32x32')

		// For IE10 Metro
		meta(name='msapplication-TileColor', content='#FFFFFF')
		meta(name='msapplication-TileImage', content='favicon-144.png')

		// Chrome for Android
		link(rel='icon', sizes='192x192', href='favicon-192.png')

		// Chrome, Firefox OS and Opera
		meta(name='theme-color', content='#4285f4')

		// Windows Phone
		meta(name='msapplication-navbutton-color', content='#4285f4')

		// iOS Safari
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-transcluent')

		// Яндекс.Браузер
		meta(name='viewport', content='ya-title=#000000,ya-dock=fade')

		// Styles
		link(rel="stylesheet", href="css/main.css")

	body
